<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class='content'>
        {% for category in categories %}
            <p><a href="{% url 'quiz_list' category.id%}">{{category}}</a><input type="button" value="Изменить" onclick= "location.href= '{% url 'category_update' category.id %}'"/></p>
        {% endfor %}
    </div>
    <div class="PostButton">
        <input type="button" value="Создать категорию" onclick='location.href="http://127.0.0.1:8000/quizzes/post"'>
    </div>
{% endblock content %}

