<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

{% if create == True %}

        {% if not created %}
            <h1> Создание опроса</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Создать опрос"/>
            </form>
        {% endif %}

{% elif create == False %}

        {% if not created %}
            <h1> Изменение опроса</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Сохранить изменения"/>
            </form>
        {% endif %}

{% endif %}
{% endblock content %}