<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    {% if create %}
        <h1> Создание опроса</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Создать опрос"/>
        </form>
    {% else %}
        <h1> Изменение опроса</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Сохранить изменения"/>
        </form>
    {% endif %}
{% endblock content %}